
.icon-gmail:before { content: '\e800'; } /* '' */
.icon-divide:before { content: '\e801'; } /* '' */
.icon-eq:before { content: '\e802'; } /* '' */
.icon-minus:before { content: '\e803'; } /* '' */
.icon-plus:before { content: '\e804'; } /* '' */
.icon-cancel:before { content: '\e805'; } /* '' */
.icon-cancel-alt:before { content: '\e806'; } /* '' */